/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

/* ===== Sidebar ===== */
 .sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: #02003b;
    transition: var(--tran-05);
}
.sidebar.close{
    width: 250px;
}

.sidebar.open{
    width: 88px;
}

.sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.sidebar header .image,
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon{
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon{
    color: #fff;
    transition: var(--tran-03);
}

.menu p {
    color: rgba(255, 255, 255, .4);
    font-size: 15px;
}

.sidebar .text{
    font-size: 14px;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.open .text{
    opacity: 0;
}

.sidebar.open .text2{
    opacity: 0;
}
/* =========================== */

.sidebar header{
    position: relative;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img{
    width: 60px;
    border-radius: 6px;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -24px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: #fff;
    color: #02003b;
    border: 1px solid #02003b;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar.open .toggle{
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu{
    margin-top: 20px;
}

.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover{
    background-color: rgba(255, 255, 255, .3);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}

.sidebar .menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}

.home{
    position: relative;
    left: 260px;
    width: calc(100% - 260px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}
.home .text{
    font-size: 30px;
    font-weight: 500;
    color: #000;
    padding: 10px;
}

.sidebar.close ~ .home{
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}

/* ===== Grid ===== */
.grid {
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto auto;
    left: 260px;
    width: calc(100% - 260px);
    margin-bottom: 30px;
}

.caja {
    background-color: #fff;
    padding: 10px;
    margin: 5px;
    text-align: center;
}

.caja p {
    color: #707070;
}

.caja span {
    font-weight: bold;
}

.grid2 {
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    left: 260px;
    width: calc(100% - 260px);
    margin-bottom: 30px;

}

.caja2 {
    background-color: #fff;
    padding: 10px;
    margin: 5px;
    text-align: center;
}

.caja2 img {
    width: 300px;
    height: 300px;
}

.grid3 {
    position: relative;
    display: grid;
    grid-template-columns: 25% 25% 50%;
    left: 260px;
    width: calc(100% - 260px);
}

.caja3 {
    background-color: #fff;
    padding: 10px;
    margin: 5px;
    text-align: center;
}

.titulo {
    text-align: start;
    margin-bottom: 15px;
    font-weight: bold;
}

.texto, .txt {
    margin-bottom: 20px;
    font-weight: bold;
}

.txt2 {
    color: #707070;
    text-align: start;
}

.caja3 input {
    background-color: #E4E9F7;
    border: 1px solid transparent;
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.tabla {
    margin: 0 auto;
    margin-bottom: 50px;
	border-collapse: collapse;
    padding: 10px;
    text-align: center;
}

.tabla th {
    background-color: #02003b;
    color: #fff;
    padding: 5px;
}

.tabla td {
    background-color: #E4E9F7;
    color: #02003b;
    padding: 5px;
}

.btn {
    background-color: #02003b;
    color: #fff;
    padding: 5px;
    border: 1px solid transparent;
    cursor: pointer;
}

.btn2 {
    background-color: orangered;
    color: #fff;
    padding: 5px;
    border: 1px solid transparent;
    cursor: pointer;
}

/*--- Mediaqueries ---*/
@media (max-width: 900px) {
    .grid2 {
        grid-template-columns: auto;
    }
    .grid3 {
        grid-template-columns: auto;
    }
}